html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.form{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.site-title{
  text-align: center;
}

.form__inner{
  width: 100%;
  max-width: 400px;
  margin: 0 auto; 
}

.form__input{
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 10px;
}

.list__box{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item{
  width: 100%;
  max-width: 190px;
  padding: 20px 30px;
  border: 2px solid #000;
  border-radius: 7px;
}

.item:nth-child(1){
  padding: 20PX 40px
}

.item:nth-child(1)::before{
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-image: url('../images/user.png');
  background-repeat: no-repeat;
  background-size: 45px;
  content: "";
}

.item:nth-child(2)::before{
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-image: url('../images/bicycle.png');
  background-repeat: no-repeat;
  background-size: 45px;
  content: "";
}

.item:nth-child(3)::before{
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-image: url('../images/car.png');
  background-repeat: no-repeat;
  background-size: 45px;
  content: "";
}

.item:nth-child(4)::before{
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  background-image: url('../images/airplane.png');
  background-repeat: no-repeat;
  background-size: 45px;
  content: "";
}

.list__title{
  margin: 5px 0 15px;
  font-size: 17px;
  text-align: center;
}

.list__text1, .list__text2, .list__text3, .list__text4{
  text-align: center;
} 

.form__label{
  position: relative;
}

.triangle{
  position: absolute;
  bottom: -5px;
  left: calc(50%);
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f00;
  border-left: 10px solid transparent;
}

.is-invalid{
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -40px;
  background-color: #f00;
  color: #fff;
  padding: 8px 5px;
  border-radius: 3px;
}

.is-valid{
  display: inline-block;
  position: absolute;
  right: 30px;
  top: -6px;
  color: #fff;
  padding: 5px 8px;
  border-radius: 8px;
}

.result{
  font-size: 14px;
}